process {
	
	// cpus = { check_max( 1 * task.attempt, 'cpus' ) }
	// memory = { check_max( 2.GB * task.attempt, 'memory' ) }
	// time = { check_max( 2.h * task.attempt, 'time' ) }

	// errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
	// maxRetries = 1
	// maxErrors = '-1'

	cpus = 1
	memory = '4G'
	time = '01:00:00'

	executor = 'slurm'
	errorStrategy = 'finish'
	cache = true
	beforeScript = 'module purge'

	// Process-specific resource requirements
	withLabel: standard {
		cpus = 1
		memory = '4G'
		time = '01:00:00'
	}
	withLabel: long_time {
		time = '04:00:00'
	}
	withLabel: high_memory {
		memory = '64G'
	}
	withLabel: need_homer {
		module = 'Homer/4.10-Perl-5.26.1-foss-2018a'
	}
	withLabel: need_r {
		module ='UDUNITS/2.2.26-foss-2016b'
		module ='R/3.5.1-foss-2016b-BABS'
	}

	withName: align_trimmed_fastq {
		module = 'Bowtie2/2.3.4.1-foss-2018a'
	}

	withName: make_juicebox_file_from_maps {
		cpus = 16
	}
}
